[user]
	name = Qiuyu Huang
	email = huangq4@outlook.com
	signingkey = /home/qu/.ssh/signing.pub
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
[core]
	editor = nvim
	autocrlf = input
